body {
    font-family: sans-serif;
    background: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 20px;
}
